[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Faker = "*"
flask = "*"
Flask-bcrypt = "*"
flask-login = "*"
Flask-Migrate = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
importlib-resources = "*"
ipdb = "*"
pytest = "*"
sqlalchemy = "*"
sqlalchemy-serializer = "*"
jellyfin-apiclient-python = "*"
jellyfin = "*"
jellyfinapi = "*"

[dev-packages]

[requires]
python_version = "3.10"
